@import "tailwindcss";

@theme {
    --color-brand-dark: #0f172a;
    --color-brand-primary: #1e293b;
    --color-brand-secondary: #334155;
    --color-brand-accent: #fbbf24;
    --color-brand-light: #f8fafc;
    --color-brand-text: #e2e8f0;
    --color-brand-mute: #94a3b8;

    --font-sans: "Inter", sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-brand-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-brand-secondary);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-brand-accent);
}